body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 375px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: hsl(123, 45%, 53%, 0.3);
}

.highlight {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.project {
    border: 1px solid #3213f6;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    
}

.project h2 {
    margin: 0;
    font-size: 20px;
}

.project p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.verde h2 { color: #1e88e5; }
.eco h2 { color: #ffb300; }
.raiz h2 { color: #43a047; }
